#hairy-body{
	background-image: url(../img/theme_bg.jpg);
	background-repeat: repeat-y;
	background-size: contain;
}
#hairyHeader{
	max-width: 480px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 1.625rem;
	line-height: 1.625rem;
	background-color: #f9fafd;
	display: flex;
	z-index: 9999;
}
.hairy-head{
	height: 1.625rem;
}
#hairyHeader .hairyBack{
	width: 20%;
	height: 100%;
	background-image: url(../img/toLeft.png);
	background-position: 10% center;
	background-repeat: no-repeat;
	background-size: 0.9375rem 0.9375rem;
}
#hairyHeader .hairyHead{
	width: 60%;
	text-align: center;
	font-weight: 700;
	font-size: 0.4375rem;
}
#hairyHeader .hairyFresh{
	width: 20%;
	height: 100%;
	background-image: url(../img/crazymiaosha1.png);
	background-position: 80% center;
	background-repeat: no-repeat;
	background-size: 0.9375rem 0.9375rem;
}
.hairyAdver{
	height: 6.25rem;
}
img{
	width: 100%;
	height: 100%;
}
.prefecture ul {
	display: flex;
	width: 100%;
	/*position: fixed;
	left: 0;
	top: 7.875rem;
	z-index: 9999;*/
	background-image: url(../img/theme_bg.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	max-width: 480px;
}
ul{
	list-style: none;
}
.prefecture ul li{
	width: 33.3%;
	height: 0.9375rem;
	line-height: 0.9375rem;
	background-position: left top;
	background-size: 100% 200%; 
	background-repeat: no-repeat; 
}
.prefecture ul li:first-of-type{
	background-image: url(../img/theme_tab_theme1.png);
	background-position: left bottom;
}
.prefecture ul li:nth-of-type(2){
	background-image: url(../img/theme_tab_theme2.png);
}
.prefecture ul li:nth-of-type(3){
	background-image: url(../img/theme_tab_theme3.png);
}
.navEmpty{
	height: 0.9375rem;
}
.hairy_acyivityContent .hairy_acyivityTit{
	height: 1.5rem;
	background-position: left top;
	background-repeat: repeat-x;
	background-size: 100%;
}
a{
	text-decoration: none;
	color: #333;
}
.hairy_acyivityContent .hairy_acyivityProduct{
	padding: 0 0.3125rem 0.3125rem;
}
.hairy_acyivityProduct li a{
	display: block;
	width: 100%;
	height: 4.6875rem;
	display: flex;
	background-color: #fff;
	margin-bottom: 0.3125rem;
	position: relative;
	overflow: hidden;
}
.hairy_acyivityProduct li a .hairy-information{
	width: 50%;
	height: 100%;
	padding: 0.375rem 0.3125rem;
}
img{
	width: 100%;
	height: 100%;
}
.hairy-information .hairy-Infor{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.5rem;
}
.hairy-information .harity-type{
	font-size: 0.375rem;
}
.hairy-information .hairy-price{
	color: #c11328;
	font-size: 0.625rem;
}
.hairy-information .hairy-price .hairy-price-mark{
	font-size: 0.375rem;
}
.hairy-information .buy-now{
	display: block;
	width: 80%;
	height: 0.9375rem;
	line-height: 0.9375rem;
	border-radius: 0.46875rem;
	background-color: #c11328;
	color: #fff;
	text-align: center;
	margin: 0.3125rem;
}
.hairy-send{
	position: absolute;
	left: -0.625rem;
	top: 0.3125rem;
	width: 2.5rem;
	transform: rotate(-45deg);
	background-color: #e80013;
	color: #fff;
	text-align: center;
}
.harity-consumerMuatRead a{
	display: block;
	height: 3.25rem;
	background-position: left top;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/theme_header3.jpg);
}
.harity-foot .harity-foot-tit{
	height: 1.5rem;
	background-image: url(../img/theme_header4.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.harity-foot{
	padding-bottom: 1.5rem;
	font-size: 0.375rem;
}
.harity-foot .harity-foot-ol{
	width: 80%;
	margin: 0.3125rem auto;
}
.shoppingCar{
 	position: fixed;
 	right: 0.15625rem;
 	bottom: 0.3125rem;
 	z-index: 999;
 	width: 2rem;
 	height: 2rem;
 	border-radius: 50%;
 	background-image: url(../img/fiexdShopcar.png);
 	background-repeat: no-repeat;
 	background-position: left center;
 	background-size: contain;
 	background-color: #FFD600;
 	border: solid .1rem #fff;
 }