<header id="about-Header">
	<a href="#mine" class="about-goback"></a>
	<p class="about-productName">关于我们</p>
</header>
<div class="about-head"></div>
<div class="about-content">
	<div class="about-logo"></div>
	<div class="about-logo-name">爱鲜蜂</div>
	<div class="about-weixin-name">微信：beequick24</div>
</div>
<div class="about-foot">
	<p class="about-company">北京众成汇通信息技术有限公司</p>
	<p class="copyRight">
		Copyright ( c ) 2014-2015 beequick<br/>
		all rights reserved
	</p>
	<p class="about-zizhi">京ICP证150771号<br/>食品流通许可证编号：SP1101051510350669(1-1)</p>
</div>
<div class="foot"></div>