<div id="crazy-body">	
	<header id="crazyHeader">
		<a href="" class="crazyBack"></a>
		<p class="crazyHead">疯狂秒杀</p>
		<span class="crazyFresh"></span>
	</header>
	<div class="crazy-head"></div>
	<div class="crazyAdver">
		<img src="img/2016092318241233.jpg" />
	</div>
	<div class="crazy-activity">
		<ul class="crazyActice">
			<li>
				<p class="startTime">10:00</p>
				<p class="status"></p>
				<p class="crazyMark"></p>
			</li>
			<li>
				<p class="startTime">12:00</p>
				<p class="status"></p>
				<p class="crazyMark"></p>
			</li>
			<li>
				<p class="startTime">15:00</p>
				<p class="status"></p>
				<p class="crazyMark"></p>
			</li>
			<li>
				<p class="startTime">19:00</p>
				<p class="status"></p>
				<p class="crazyMark"></p>
			</li>
		</ul>
		<div class="activityTime">
			<div class="endTime activity">
				<div class="endding">
					<p class="endDistance">距本场结束</p>
					<p class="distanceTime">
						<span class="durationHour">00:</span>
						<span class="durationMinute">00 :</span>
						<span class="durationSecond">00</span>
					</p>
				</div>
			</div>
			<div class="look-activity-rule activity">
				<span class="lookRule">查看活动规则</span>
			</div>
		</div>
	</div>
	<div class="joinProduct">
		<ul>
			<li>
				<div class="propicDiv">
					<img src="img/crazymiaosha3.jpg" />
				</div>
				<div class="crazyproPicInfo">
					<p class="crazyProName">哈尔滨小麦王啤酒</p>
					<p class="crazyProWeight">500ml/听</p>
					<p class="crazyProPrice"><span class="crazyprice_mark">￥<span class="priceColor">2.9</span></span> / 原价6元</p>
					<p class="charge">
						<span class="crazyProCharge purchase">2.9元抢购</span>
					</p>
				</div>
			</li>
			<li>
				<div class="propicDiv">
					<img src="img/crazymiaosha4.jpg" />
				</div>
				<div class="crazyproPicInfo">
					<p class="crazyProName">肉粒多</p>
					<p class="crazyProWeight">100g</p>
					<p class="crazyProPrice"><span class="crazyprice_mark">￥<span class="priceColor">4.5</span></span> / 原价6元</p>
					<p class="charge">
						<span class="crazyProCharge nothing">已抢光</span>
					</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="crazyHot">
		<h3 class="crazy-activity_tit">
			<span class="crazy_line"></span>
			热卖
		</h3>
		<ul>
			<li>
				<a href="">
					<div class="crazyProItem">
						<img src="img/axf16.jpg" alt="" />
					</div>
					<div class="crazyImgInfo">
						<p class="product_Name">爱鲜蜂·红宝石葡萄</p>
						<p class="proWeight">550-600g/盒</p>
						<p class="themePrice">
							<span class="crazyCurrentPrice">￥15.8</span>
							<s class="crazyprePrice">￥25</s>
						</p>
					</div>
					<div class="crazytheme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="crazyProItem">
						<img src="img/axf17.jpg" alt="" />
					</div>
					<div class="crazyImgInfo">
						<p class="product_Name">爱鲜蜂·云南蒙自石榴</p>
						<p class="proWeight">500-550g 2粒/盒</p>
						<p class="themePrice">
							<span class="crazyCurrentPrice">￥12.9</span>
							<s class="crazyprePrice">￥28.6</s>
						</p>
					</div>
					<div class="crazytheme-spline "></div>
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="">
					<div class="crazyProItem">
						<img src="img/axf18.jpg" alt="" />
					</div>
					<div class="crazyImgInfo">
						<p class="product_Name">蜂觅·精选琯溪蜜柚</p>
						<p class="proWeight">1.3-1.65kg/粒</p>
						<p class="themePrice">
							<span class="crazyCurrentPrice">￥9.9</span>
							<s class="crazyprePrice">￥17</s></p>
					</div>
					<div class="crazytheme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="crazyProItem">
						<img src="img/crazymiaosha.jpg" alt="" />
					</div>
					<div class="crazyImgInfo">
						<p class="product_Name">蜂觅·精选琯溪蜜柚</p>
						<p class="proWeight">1.3-1.65kg/粒</p>
						<p class="themePrice">
							<span class="crazyCurrentPrice">￥9.9</span>
							<s class="crazyprePrice">￥17</s></p>
					</div>
					<div class="crazytheme-spline "></div>
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="">
					<div class="crazyProItem">
						<img src="img/crazymiaosha6.jpg" alt="" />
					</div>
					<div class="crazyImgInfo">
						<p class="product_Name">蜂觅·精选琯溪蜜柚</p>
						<p class="proWeight">1.3-1.65kg/粒</p>
						<p class="themePrice">
							<span class="crazyCurrentPrice">￥9.9</span>
							<s class="crazyprePrice">￥17</s></p>
					</div>
					<div class="crazytheme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="crazyProItem">
						<img src="img/crazymiaosha5.jpg" alt="" />
					</div>
					<div class="crazyImgInfo">
						<p class="product_Name">蜂觅·精选琯溪蜜柚</p>
						<p class="proWeight">1.3-1.65kg/粒</p>
						<p class="themePrice">
							<span class="crazyCurrentPrice">￥9.9</span>
							<s class="crazyprePrice">￥17</s></p>
					</div>
					<div class="crazytheme-spline "></div>
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="">
					<div class="crazyProItem">
						<img src="img/crazymiaosha8.jpg" alt="" />
					</div>
					<div class="crazyImgInfo">
						<p class="product_Name">蜂觅·精选琯溪蜜柚</p>
						<p class="proWeight">1.3-1.65kg/粒</p>
						<p class="themePrice">
							<span class="crazyCurrentPrice">￥9.9</span>
							<s class="crazyprePrice">￥17</s></p>
					</div>
					<div class="replenishment ">补货中</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="crazyProItem">
						<img src="img/crazy2.jpg" alt="" />
					</div>
					<div class="crazyImgInfo">
						<p class="product_Name">蜂觅·精选琯溪蜜柚</p>
						<p class="proWeight">1.3-1.65kg/粒</p>
						<p class="themePrice">
							<span class="crazyCurrentPrice">￥9.9</span>
							<s class="crazyprePrice">￥17</s></p>
					</div>
					<div class="replenishment">补货中</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="crazyPageRule">
		<h3 class="crazy-activity_tit">
			<span class="crazy_line"></span>
			活动原则
		</h3>
		<ol>
			<li>本次活动购买的实物商品，请先选择送货地址，再进行购买；</li>
			<li>活动动时间：每日10点、12点、15点、19点；</li>
			<li>活动单品每个商品每人每天抢购一次（限配送区域内用户参加）；</li>
			<li>商品数量有限，售完即止。需及时在线支付，请以订单支付成功时间为准；</li>
			<li>此活动可以和其他商品同时购买，订单金额满30元（含）以上可送；</li>
			<li>若发现用户恶意刷单，爱鲜蜂有权拒绝送货。</li>
		</ol>
	</div>
	<div class="shoppingCar"></div>
	<div class="foot"></div>
</div>