<div id="fresh-body">
	<header id="freshHeader">
		<a href="#home" class="freshBack"></a>
		<p class="freshHead">鲜货直供-麦邦鲜榨果汁</p>
		<span class="freshFresh"></span>
	</header>
	<div class="fresh-head"></div>
	<ul class="fresh-pic">
		<li><img src="img/theme_header_fresh1.jpg" alt="" /></li>
		<li><img src="img/WeChat1.jpg" alt="" /></li>
		<li><img src="img/WeChat2(1).jpg" alt="" /></li>
		<li><img src="img/WeChat2(2).jpg" alt="" /></li>
		<li><img src="img/WeChat3.jpg" alt="" /></li>
		<li><img src="img/WeChat4.jpg" alt="" /></li>
		<li><img src="img/WeChat5.jpg" alt="" /></li>
		<li><img src="img/WeChat6.jpg" alt="" /></li>
		<li><img src="img/WeChat7.jpg" alt="" /></li>
		<li><img src="img/WeChat8.jpg" alt="" /></li>
		<li><img src="img/WeChat9.jpg" alt="" /></li>
		<li><img src="img/WeChat10.jpg"/></li>
	</ul>
	<div class="fresh-foot">
		<h3 class="fresh-foot-tit"></h3>
		<ol class="fresh-foot-ol">
			<li>本商品由第三方平台发货，商品买2送1；买3送2可叠加，多买多送，整箱买1送1每人限购5箱</li>
			<li>品牌：100％脱籽鲜榨冰糖橙汁</li>
			<li>产地：上海</li>
			<li>保质期：28天</li>
			<li>储存环境：0°- 5°</li>
			<li>快递：顺丰包邮</li>
			<li>发货周期：24小时</li>
			<li>发货范围：北京</li>
			<li>客服电话：4000103788</li>
			<li>发票：开票内容仅限购买商品，购买前请咨询客服</li>
			<li>退换货规则：1、生鲜类商品（蔬菜水果、水产海鲜、肉禽蛋奶等），仅支持质量问题退换货。签收后48小时内您发现验货时无法发现的质量问题，请与客服中心联系，并提交相关证明，我们为您进行售后处理。2、非生鲜类商品，自顾客收到商品之日起7日内，如符合以下条件，我们将提供退换货服务：（1）商品及商品本身的外包装没有损坏，保持出售时的原质原样，不影响二次销售；（2）商品及配件、附带品或者赠品、发票、发货清单齐全；（3）如果商品售卖时有赠品，办理退货时，必须同时将赠品退回；（4） 成套商品或者礼盒装商品中有部分商品存在质量问题，在办理退换货时，必须将整套商品退回；</li>
		</ol>
	</div>
	<div class="shoppingCar"></div>
</div>
		
