<div class="goods-info-body">
	<header id="goods-Header">
		<a href="#home" class="goods-goback"></a>
		<p class="goods-productName">爱鲜蜂·红宝石葡萄</p>
	</header>
	<div class="goods-head"></div>
	<div class="goods-pic">
		<img src="img/Goods.jpg" />
	</div>
	<ul class="goods_details-introduce">
		<li>
			<p>爱鲜蜂·红宝石葡萄</p>
			<p class="goods-price">
				￥<span class="Goods-currentPrice">15.8</span>
				<s class="Goods-PrePrice">￥25</s>
			</p>
		</li>
		<li class="goods-list">
			<p class="goods-pp">品<span class="goods-tit"></span>牌</p>
			<p class="goods-infor">爱鲜蜂</p>
		</li>
		<li class="goods-list">
			<p class="goods-pp">产品规格</p>
			<p class="goods-infor">550-600g/盒</p>
		</li>
	</ul>
	<div class="goods-picDetails">
		<h3 class="goods-picDetails-tit">
			<span class="goods-details-line"></span>
			<span class="good-pic-details-tit">图文详情</span>
			<span class="goods-details-line"></span>
		</h3>
		<div class="mod-detail-html">
			<p class="mod-detail-tit">
				<strong>温馨提示：</strong>
			</p>
			<p class="mod-detail-content">
				<strong>
					商品签收后，如有问题请您在48小时内反馈在线人工客服、电话4008484842、或关注微信beequick24联系，并将商品及包装保留好。您可在“我的”“全部订单”中找到需要反馈的订单，在订单中点击“申请售后”描述问题并上传相关图片。
				</strong>
			</p>
		</div>
		<div class="goods-long-pic">
			<img src="img/goodsDetails-longPic.jpg" />
		</div>
	</div>
	<div class="goods-foot">
		<ul class="goods-foot-nav">
			<li>
				<figure>
					<div class="goods-heart"></div>
					<figcaption>收藏</figcaption>
				</figure>
			</li>
			<li>添加商品：</li>
			<li>
				<div class="goods_operate">
					<span class="goods-sub operate"></span>
					<span class="goodsPro-num">0</span>
					<span class="goods-add operate"></span>
				</div>
			</li>
		</ul>
	</div>
	<div class="goodsFoot"></div>
	<div class="shoppingCar"></div>
</div>
