<
	<div id="hairy-body">
<header id="hairyHeader">
	<a href="#home" class="hairyBack"></a>
	<p class="hairyHead">大闸蟹开湖国庆</p>
	<span class="hairyFresh"></span>
</header>
<div class="hairy-head"></div>
<div class="hairyAdver">
	<img src="img/theme_header_1.jpg" />
</div>
<nav class="prefecture">
	<ul>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
	</ul>
</nav>
<!--<div class="navEmpty"></div>-->
<div class="hairy_acyivityContent">
	<h3 class="hairy_acyivityTit" style="background-image: url(img/theme_header2.jpg);"></h3>
	<ul class="hairy_acyivityProduct">
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie1.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>318</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
				<div class="hairy-send">满减</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>338</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
				<div class="hairy-send">满减</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie1.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>318</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
				<div class="hairy-send">满减</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>338</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
				<div class="hairy-send">满减</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>338</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
				<div class="hairy-send">满减</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie1.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>318</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
				<div class="hairy-send">满减</div>
			</a>
		</li>
	</ul>
</div>
<div class="hairy_acyivityContent">
	<h3 class="hairy_acyivityTit" style="background-image: url(img/theme_header5.jpg);"></h3>
	<ul class="hairy_acyivityProduct">
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>218</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>258</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie1.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>198</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
	</ul>
</div>
<div class="hairy_acyivityContent">
	<h3 class="hairy_acyivityTit" style="background-image: url(img/theme_header6.jpg);"></h3>
	<ul class="hairy_acyivityProduct">
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie1.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>318</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>338</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie1.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>318</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>338</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>338</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie1.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>318</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
	</ul>
</div>
<div class="hairy_acyivityContent">
	<h3 class="hairy_acyivityTit" style="background-image: url(img/theme_header7.jpg);"></h3>
	<ul class="hairy_acyivityProduct">
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>218</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>258</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="hairy-information"><img src="img/dazhaxie2.jpg" alt="" /></div>
				<div class="hairy-information" style="padding: 0.625rem 0.3125rem;">
					<p class="hairy-Infor">[直供]星农联合阳澄湖大闸蟹666型礼盒</p>
					<p class="hairy-Infor harity-type">3.6-4.0两公蟹2.6-3.0两母蟹8只公母配</p>
					<p class="hairy-price">
						<span class="hairy-price-mark">￥</span>
						<i>198</i>
					</p>
					<p class="hairy-buy">
						<span class="buy-now">立即购买</span>
					</p>
				</div>
			</a>
		</li>
	</ul>
</div>
<div class="harity-consumerMuatRead">
	<a href=""></a>
</div>
<div class="harity-foot">
	<h3 class="harity-foot-tit"></h3>
	<ol class="harity-foot-ol">
		<li>本活动所有卡券商品24小时内发货，根据配送地点不同，预计3-5天到达（北京地区2天内到货）；</li>
		<li>本活动所有礼盒商品48小时内发货，供应商直供，由顺丰物流统一发货，根据配送地点不同，预计3天左右到达；</li>
		<li>大闸蟹实物商品请收货后当面检查，配送完成后2小时内，如出现死蟹问题，可拨打客服电话联系；</li>
		<li>企业团购客服：4008484842；团购订单自支付到账起，24小时内发货；团购礼品将于订单完成后次日，由客服联系确认后发货；</li>
		<li>凡单笔订单含大闸蟹卡券商品，则免运费；</li>
		<li>发货时间：所有商品会在24小时之内发货；</li>
		<li>活动地区：爱鲜蜂覆盖地区用户均可参与。</li>
	</ol>
</div>
<div class="shoppingCar"></div>
</div>
