<div id="home-body">
	<header id="homeHeader">
		<a href="">
			<p class="userLocation">惠民儿童医院  肥嘟嘟</p>
			<p class="Homesearch" >
				<span class="H-searchImg"></span>
				<span class="searchCha" style="font-size: 0.3125rem; width: 100%; display: inline-block;">搜索</span>
			</p>
		</a>
	</header>
	<div class="home-head"></div>
	<div id="HomeAdver">
		<div id="main" style="position:relative;">
			<div class="swiper-container">
				<div class="swiper-wrapper">
				</div>
				<div class="pagination"></div>
			</div>
		</div>
	</div>
	<div id="HomeActive">
		<ul>
			<!--<li>
				<a href="#crazySeckill">
					<p class="HomeActiveImg"><img src="img/crazy.png" alt="" /></p>
					<p class="ActiveName">疯狂秒杀</p>
				</a>
			</li>
			<li>
				<a href="#fresh">
					<div class="HomeActiveImg"><img src="img/airport.png" alt="" /></div>
					<p class="ActiveName">鲜货直供</p>
				</a>
			</li>
			<li>
				<a href="#hairy">
					<div class="HomeActiveImg"><img src="img/dazhaxie.png" alt="" /></div>
					<p class="ActiveName">大闸蟹</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="HomeActiveImg"><img src="img/fruit.png" alt="" /></div>
					<p class="ActiveName">水果</p>
				</a>
			</li>-->
		</ul>
	</div>
	<div id="HomeactiveElse">
		<ul>
			<li>
				<a href="">
					<img src="img/axf1.jpg" alt="" />
				</a>
			</li>
			<li>
				<a href="">
					<img src="img/axf2.jpg" alt="" />
				</a>
			</li>
			<li>
				<a href="">
					<img src="img/axf3.jpg" alt="" />
				</a>
			</li>
		</ul>
	</div>
	<div id="homeMarkit">
		<div class="markit_tit">
			<img src="img/axf4.png" />
		</div>
		<div class="business-sub-item-inner">
			<div class="home_item">
				<img src="img/axf5.jpg" />
			</div>
			<div class="home_item">
				<img src="img/axf6.jpg" />
			</div>
		</div>
		<ul class="business-item">
			<li>
				<a href="">
					<img src="img/axf7.png" alt="" />
					<p>优选水果</p>
				</a>
			</li>
			<li>
				<a href="">
					<img src="img/axf8.png" alt="" />
					<p>牛奶面包</p>
				</a>
			</li>
			<li>
				<a href="">
					<img src="img/axf9.png" alt="" />
					<p>饮料酒水</p>
				</a>
			</li>
			<li>
				<a href="">
					<img src="img/axf10.png" alt="" />
					<p>更多</p>
				</a>
			</li>
		</ul>
		<ul class="homeItem-img">
			<li><a href=""><img src="img/axf11.jpg" alt="" /></a></li>
			<li><a href=""><img src="img/axf12.jpg" alt="" /></a></li>
		</ul>
		<ul class="homeItem-img">
			<li><a href=""><img src="img/axf13.jpg" alt="" /></a></li>
			<li><a href=""><img src="img/axf14.png" alt="" /></a></li>
		</ul>
	</div>
	<div class="youxuanFruit">
		<h3 class="youxuanTit">
			<div class="titLeft">
				<span class="titHomeyx"></span>
				<span class="titCharacter">优选水果</span>
			</div>
			<a href="#">
				<span class="more">更多 ></span>
			</a>
		</h3>
		<div class="youxuanAdver">
			<img src="img/axf15.jpg" />
		</div>
		<ul>
			<li>
				<a href="#GoodsDetails">
					<div class="imgList">
						<img src="img/axf16.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">爱鲜蜂·红宝石葡萄</p>
						<p class="type"><span>精选</span></p>
						<p class="weight">550-600g/盒</p>
						<p class="price">
							<span class="currentPrice">￥15.8</span>
							<s class="prePrice">￥25</s>
						</p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf17.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">爱鲜蜂·云南蒙自石榴</p>
						<p class="type"><span>精选</span></p>
						<p class="weight">500-550g 2粒/盒</p>
						<p class="price">
							<span class="currentPrice">￥12.9</span>
							<s class="prePrice">￥28.6</s>
						</p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf18.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">蜂觅·精选琯溪蜜柚</p>
						<p class="type"><span>精选</span></p>
						<p class="weight">1.3-1.65kg/粒</p>
						<p class="price">
							<span class="currentPrice">￥9.9</span>
							<s class="prePrice">￥17</s></p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
		</ul>
	</div>
	<div class="youxuanFruit">
		<h3 class="youxuanTit">
			<div class="titLeft inner_tit">
				<span class="titHomeyx innerSpan"></span>
				<span class="titCharacter">牛奶面包</span>
			</div>
			<a href="#">
				<span class="more">更多 ></span>
			</a>
		</h3>
		<div class="youxuanAdver">
			<img src="img/axf19.jpg" />
		</div>
		<ul>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf20.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">贝儿手撕包</p>
						<p class="type"><span>精选</span></p>
						<p class="weight">60g</p>
						<p class="price">
							<span class="currentPrice">￥3.6</span>
							<s class="prePrice">￥4.5</s>
						</p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf21.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">雪原白瓷瓶风味酸乳</p>
						<p class="type">
							<span>精选</span>
							<span class="send">买一赠一</span>
						</p>
						<p class="weight">200g</p>
						<p class="price">
							<span class="currentPrice">￥10.9</span>
							<s class="prePrice">￥12</s>
						</p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf22.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">音苏提有机酸奶酪</p>
						<p class="type">
							<span>精选</span>
							<span class="send">买一赠一</span>
						</p>
						<p class="weight">140g</p>
						<p class="price">
							<span class="currentPrice">￥7.9</span>
							<s class="prePrice">￥12</s></p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
		</ul>
	</div>
	<div class="youxuanFruit">
		<h3 class="youxuanTit">
			<div class="titLeft lwss">
				<span class="titHomeyx innerSpan" style="background: #7B4D03;"></span>
				<span class="titCharacter" style="color: #7B4D03;">卤味熟食</span>
			</div>
			<a href="#">
				<span class="more">更多 ></span>
			</a>
		</h3>
		<div class="youxuanAdver">
			<img src="img/axf23.jpg" />
		</div>
		<ul>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf24.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">哈肉联啤酒火腿</p>
						<p class="type"><span>精选</span></p>
						<p class="weight">350g</p>
						<p class="price">
							<span class="currentPrice">￥16.8</span>
							<s class="prePrice">￥18</s>
						</p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf25.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">飘香卤鸭肠微辣</p>
						<p class="type">
							<span>精选</span>
						</p>
						<p class="weight">108g/盒</p>
						<p class="price">
							<span class="currentPrice">￥18</span>
							<s class="prePrice">￥30</s>
						</p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf26.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">哈肉联乌克兰风味烤肠</p>
						<p class="type">
							<span>精选</span>
						</p>
						<p class="weight">100g</p>
						<p class="price">
							<span class="currentPrice">￥11</span>
							<s class="prePrice">￥13</s></p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
		</ul>
	</div>
	<div class="youxuanFruit">
		<h3 class="youxuanTit">
			<div class="titLeft">
				<span class="titHomeyx innerSpan" style="background: #FF3319;"></span>
				<span class="titCharacter" style="color: #FF3319;">饮料酒水</span>
			</div>
			<a href="#">
				<span class="more">更多 ></span>
			</a>
		</h3>
		<div class="youxuanAdver">
			<img src="img/axf27.jpg" />
		</div>
		<ul>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf28.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">农夫山泉饮用天然水</p>
						<p class="type"><span>精选</span></p>
						<p class="weight">550ml</p>
						<p class="price">
							<span class="currentPrice">￥1.5</span>
							<s class="prePrice">￥3</s>
						</p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf29.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">屈臣氏蒸馏水</p>
						<p class="type">
							<span>精选</span>
						</p>
						<p class="weight">400ml</p>
						<p class="price">
							<span class="currentPrice">￥3</span>
							<s class="prePrice"></s>
						</p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="imgList">
						<img src="img/axf30.jpg" alt="" />
					</div>
					<div class="imgInfo">
						<p class="ImgName">农夫柠檬红茶茶π饮料</p>
						<p class="type">
							<span>精选</span>
						</p>
						<p class="weight">500ml</p>
						<p class="price">
							<span class="currentPrice">￥5</span>
							<s class="prePrice">￥6</s></p>
					</div>
					<div class="theme-spline "></div>
				</a>
			</li>
		</ul>
	</div>
	<div class="home-hot-sale">
		<h3 class="hot-tit">
			<span class="hot-line"></span>
			<span class="hot-middle">鲜蜂热卖</span>
			<span class="hot-line"></span>
		</h3>
		<div class="sale-product">
			<ul></ul>
		</div>
	</div>
	<div class="home_bottom">
		<p><a href="">点击查看全部商品 ></a></p>
	</div>
</div>
<script type="text/template" id="hot_tpl">
	<% for(var hotObj of data){ %>
	<li>
		<a href='#'>
			<div class='imgList'>
				<img src="<%= hotObj.img %>" /> 
			</div>
			<div class='imgInfo'>
				<p class='ImgName'><%= hotObj.name %></p>
				<p class='type'>
					<span class='send'><%= hotObj.pm_desc %></span>
				</p>
				<p class='weight'><%= hotObj.specifics %></p>
				<p class='price'>
					<span class='currentPrice'>￥<%= hotObj.price %></span>
					<s class='prePrice'>￥<%= hotObj.market_price %></s>
				</p>
			</div>
			<div class='theme-spline'></div>
		</a>
	</li>
	<% } %>
</script>