<div id="member-body">
	<header id="member-Header">
		<a href="#mine" class="member-goback"></a>
		<p class="member-Name">会员中心</p>
	</header>
	<div class="member-Head"></div>
	<div class="member-bg">
		<div class="member-Portait">
			<div class="portaitPic"></div>
			<h3 class="personNum">0 / 999</h3>
		</div>
		<div class="registerRank">
			<span class="line-left"></span>
			<span class="registerVip memeber">注册会员</span>
			<span class="line-right"></span>
			<span class="registerCommon  memeber">普通会员</span>
			<span class="line-right"></span>
		</div>
		<div class="member-chazhi">距下一等级还需 30 成长值</div>
	</div>
	<div class="vip-strategy">
		<h3 class="strategy-tit">
			<span class="member-line"></span>
			<span class="strategy_title">会员攻略</span>
			<span class="member-line"></span>
		</h3>
		<ul>
			<li>
				<div class="member-operate memberValue"></div>
				<div class="memberDevelop">
					<p class="developValue">成长值</p>
					<p class="developIntroduce">
						会员等级有效期为1年，1年后扣减相应
						等级成长值，剩余成长值重新计算会员级别。
					</p>
				</div>
			</li>
			<li>
				<div class="member-operate memberStrategy"></div>
				<div class="memberDevelop">
					<p class="developValue">成长攻略</p>
					<p class="developIntroduce">
						会员等级越高获得的积分越多。<br />
						1、注册会员：0.5倍积分<br />
						2、普通会员：1倍积分<br />
						3、白银会员：1.5倍积分<br />
						4、黄金会员：2倍积分<br />
						5、钻石会员：3倍积分
					</p>
				</div>
			</li>
			<li>
				<div class="member-operate memberSpecial"></div>
				<div class="memberDevelop">
					<p class="developValue">特权</p>
					<p class="developIntroduce">
						1、注册会员：30>成长值>＝0；<br />
						2、普通会员：199>成长值>＝30；<br />
						3、白银会员：499>成长值>＝199；<br />
						4、黄金会员：999>成长值>＝499；<br />
						5、钻石会员：成长值>＝999；
					</p>
				</div>
			</li>
			<li>
				<div class="member-operate memberExplain"></div>
				<div class="memberDevelop">
					<p class="developValue">会员等级说明</p>
					<p class="developIntroduce">
						1、购买精选商品实付金额1：1转化为成长值（不包含优惠券等抵扣部分）；<br />
						2、在“天津、西安、成都、南京、佛山”下单，完成订单后可以获得10成长值；<br />
						3、商品退换货，需扣除该商品所获得成长值；<br />
						4、订单取消，需扣除该订单所获得成长值；<br />
						5、因作弊等行为产生的成长值，爱鲜蜂有权扣除相应成长值；
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
