<header id="mine-header">
	<div class="mine-user">
		<div class="userPortait"></div>
		<div class="mine-userInfo">
			<h3 class="mine-phone">15361896885</h3>
			<a href="#member" class="registerLogo">注册会员</a>
		</div>
	</div>
	<div class="mine-head-bottom">
		<p class="proReserve">商品收藏</p>
		<span class="demoBor"></span>
		<p class="proReserve">
			店铺收藏
		</p>
	</div>
</header>
<div class="mine-head"></div>
<div class="mine-content">
	<div class="mine-order-oprate">
		<div class="mine-order">
			<p class="mintOrder-tit">我的订单</p>
			<p class="orderTotal">查看全部订单</p>
		</div>
		<ul class="mine-contect">
			<li>
				<p class="mine-contect-pic pay"></p>
				<p>待付款</p>
			</li>
			<li>
				<p class="mine-contect-pic acept"></p>
				<p>待收货</p>
			</li>
			<li>
				<p class="mine-contect-pic evaluate"></p>
				<p>待评价</p>
			</li>
			<li>
				<p class="mine-contect-pic service"></p>
				<p>退款/售后</p>
			</li>
		</ul>
	</div>
	<div class="mine-order-oprate">
		<ul class="mine-contect mine-block">
			<li>
				<p class="mine-contect-pic integral"></p>
				<p>积分商城</p>
			</li>
			<li>
				<p class="mine-contect-pic favorable"></p>
				<p>优惠券</p>
			</li>
			<li>
				<p class="mine-contect-pic profile"></p>
				<p>收货地址</p>
			</li>
			<li>
				<p class="mine-contect-pic feedback"></p>
				<p>客服反馈</p>
			</li>
		</ul>
		<ul class="mine-contect mine-block">
			<li>
				<p class="mine-contect-pic aboutUs"></p>
				<p><a href="#aboutUs">关于我们</a></p>
			</li>
		</ul>
	</div>
	<div class="mine-goOut">退出当前账号</div>
</div>
