<header id="shopHeader">
	<h3 class="shopTit">购物车</h3>
</header>
<div class="shop-head"></div>
<div id="shopConsumerInfo">
	<table class="consumerCon">
		<tbody class="addr-table">
			<tr>
				<th>
					收
					<span class="addr-empty"></span>
					货
					<span class="addr-empty"></span>
					人
				</th>
				<th>
					李&nbsp;女士
				</th>
			</tr>
			<tr>
				<th>
					电
					<span class="addr-Bigempty"></span>
					话 
				</th>
				<th>15361896885</th>
				<th class="toRight">修改 </th>
			</tr>
			<tr>
				<th>收 货 地 址</th>
				<th>
					北京市惠民儿童医院  肥嘟嘟
				</th>
			</tr>
			
		</tbody>
	</table>
</div>
<div class="cart-groups-wraper">
	<div class="cart-group">
		<div class="cart-tit">
			<p class="cart-tit-left">
				<span class="cart-empty"></span>
				<span class="cart-market">闪送超市</span>
			</p>
			<p class="cart-vip">
				<span class="vip">凑单专区</span>
			</p>
		</div>
		<div class="cart-tit-bottom">￥0起送，22:00前满￥30免运费，22:00后满￥69免运费</div>
	</div>
	<ul>
		<li>
			<span>收 货 时 间</span>
			<span class="costTime">一 小 时 送 达</span>
			<span class="isReserve">可 预 订&nbsp;</span>
		</li>
		<li>
			<span>收 获 备 注</span>
			<span class="remark"><input placeholder="可输入100字以内特殊要求内容" type="text"></input></span>
		</li>
	</ul>
	<div class="buyProductList">
		<table class="boughtProList" style="border-collapse: collapse;">
			<tr>
				<td></td>
				<td>
					<div class="willBuyPropic">
						<img src="img/craz9.jpg"/>
					</div>
				</td>
				<td>
					<p class="shop_pro_name">爱鲜蜂·澳洲甜橙</p>
					<div class="shopProPrice">
						<div class="shop_price price-pro">￥16.9</div>
						<div class="shop_operate price-pro">
							<span class="shop-sub operate"></span>
							<span class="shopPro-num">1</span>
							<span class="shop-add operate"></span>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="willBuyPropic">
						<img src="img/axf34.jpg"/>
					</div>
				</td>
				<td>
					<p class="shop_pro_name">爱鲜蜂·澳洲甜橙</p>
					<div class="shopProPrice">
						<div class="shop_price price-pro">￥16.9</div>
						<div class="shop_operate price-pro">
							<span class="shop-sub operate"></span>
							<span class="shopPro-num">1</span>
							<span class="shop-add operate"></span>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="willBuyPropic">
						<img src="img/axf48.jpg"/>
					</div>
				</td>
				<td>
					<p class="shop_pro_name">爱鲜蜂·澳洲甜橙</p>
					<div class="shopProPrice">
						<div class="shop_price price-pro">￥16.9</div>
						<div class="shop_operate price-pro">
							<span class="shop-sub operate"></span>
							<span class="shopPro-num">1</span>
							<span class="shop-add operate"></span>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="willBuyPropic">
						<img src="img/axf49.jpg"/>
					</div>
				</td>
				<td>
					<p class="shop_pro_name">爱鲜蜂·澳洲甜橙</p>
					<div class="shopProPrice">
						<div class="shop_price price-pro">￥16.9</div>
						<div class="shop_operate price-pro">
							<span class="shop-sub operate"></span>
							<span class="shopPro-num">1</span>
							<span class="shop-add operate"></span>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="willBuyPropic">
						<img src="img/axf50.jpg"/>
					</div>
				</td>
				<td>
					<p class="shop_pro_name">爱鲜蜂·澳洲甜橙</p>
					<div class="shopProPrice">
						<div class="shop_price price-pro">￥16.9</div>
						<div class="shop_operate price-pro">
							<span class="shop-sub operate"></span>
							<span class="shopPro-num">1</span>
							<span class="shop-add operate"></span>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<div class="buyPro_bottom">
			<ul>
				<li>全选</li>
				<li>共：<span class="totalPrice">￥70.7</span></li>
				<li>选好了</li>
			</ul>
		</div>
	</div>
</div>
<div class="foot"></div>